.list-toolbar
  %h3.header Коллекции
  .btn-group
    = link_to [:new, :admin, :gallery], class: 'btn btn-success' do
      %i.glyphicon.glyphicon-plus
      Добавить новую

= render partial: 'admin/shared/flash'

.entries-list
  - @entries.each do |gallery|
    .list-item.form-group
      .title-container
        = link_to gallery.title, [:edit, :admin, gallery]
      .link-container
        %input.form-control{type: :text, value: polymorphic_url(gallery)}

= will_paginate @entries
